@media screen and (max-width: 1557px){

    /*----------ESTILOS CONTACTO----------*/

    .contact__personal,
    .contact__mensaje,
    .contact__condiciones{
        font-size: 1.6rem;
    }

    .personal__container{
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .personal__container > label{
        flex-basis: 40%;
    }

    .personal__container input:first-child,
    .personal__container input:nth-child(2),
    .personal__container input:nth-child(4){
        width: 70%;
        margin-right: auto;
    }

    .personal__container > label:nth-child(3) input{
        width: auto;
    }
}

@media screen and (max-width: 1441px) {
    
    /*----------ESTILOS MAIN COMPARTIDOS----------*/

    .main {
        padding: 0 3rem;
        min-height: calc(100vh - 100px);
    }

    .main__header{
        margin-bottom: 3rem;
    }

    .titles{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .subtitles{
        font-size: 1.8rem;
    }

    .main__single{
        width: 90%;
        padding: 0;
    }

    /*----------ESTILOS BIOGRAFÍA----------*/

    .bio__data{
        font-size: 1.8rem;
    }
    
    .bio-more__subtitle{
        font-size: 1.8rem;
    }

    .main__bio {
        width: 90%;
        flex-direction: column;
    }

    /*----------ESTILOS TRABAJOS----------*/

    .spotify-container h2{
        font-size: 1.8rem;
    }

    /*----------ESTILOS CONTACTO----------*/

    .personal__container{
        align-items: center;
    }
    
    .personal__container > label{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    .personal__container input:first-child,
    .personal__container input:nth-child(2),
    .personal__container input:nth-child(4){
        width: 70%;
        margin-right: 0;
    }

    .personal__container input:nth-child(3){
        display: block;
    }

    .mensaje__container label:nth-child(2) > textarea{
        width: 80%;
    }

    .otros{
        width: 100%;
    }

}

@media screen and (max-width: 1025px) {

    /*----------ESTILOS INICIO----------*/
    
    .main__single{
        width: 100%;
        padding: 0;
    }

    .single__title{
        font-size: 4rem;
    }

    .single__subtitle{
        font-size: 2.5rem;
    }

    .single__video{
        padding: 0;
    }

    .single__list{
        width: 90%;
    }

    /*----------ESTILOS BIOGRAFÍA----------*/

    .main__bio {
        width: 90%;
        flex-direction: column;
    }

    /*----------ESTILOS TRABAJOS----------*/

    .trabajos__list li{
        min-width: 150px;
    }

    li figure {
        max-width: 150px;
    }

    figure h3{
        font-size: 1.4rem;
    }

    figure img{
        width: 150px;
    }

    /*----------ESTILOS CONTACTO----------*/

    .dialog{
        width: 70%;
    }

}

@media screen and (max-width: 979px){
    
    /*BOTÓN TOGGLE MOBILE*/

    .header__toggle {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        position: relative;
        cursor: pointer;
    }
    
    .toggle__lines {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: var(--color-text);
    }

    .toogle__line--2,
    .toogle__line--3 {
        transition: transform .3s ease-in-out;
    }
    
    .toogle__line--1{
        top: 5px;
        transition: top .3s ease-in-out, opacity .3s ease-in-out;
    }
    
    .toogle__line--4{
        top: 25px;
        transition: top .3s ease-in-out, opacity .3s ease-in-out;
    }

    /*HEADER Y NAV*/

    .header {
        flex-wrap: wrap;
        height: 73.97px;
        overflow: hidden;
        transition: height .3s ease-in-out;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    
    .header__nav{
        flex-basis: 100%;
        order: 3;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin: 3rem;
    }

    .nav__pages {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: 2.5rem;
    }

    .pages__link::before{
        height: 2px;
    }

    .pages__link:hover{
        transform: none;
    }

    .nav__social {
        gap: 3rem;
    }

    .main{
        margin-top: 80px;
    }

    /*----------ESTILOS INICIO----------*/

    .main__single{
        flex-direction: column;
        gap: 2.5rem;
    }
    
    .single__list{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
    }

    /*----------ESTILOS BIOGRAFÍA----------*/

    .bio__foto {
        max-width: 350px;
        max-height: 350px;
    }

    
    /*----------ESTILOS CONTACTO----------*/

    .main__contact {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

}

@media screen and (max-width: 700px){

    /*----------ESTILOS CONTACTO----------*/
    
    .contact__form {
        padding: 3rem 0;
    }

    .contact__personal, .contact__mensaje, .contact__condiciones {
        font-size: 1.8rem;
        border: none;
    }

    .personal__container, .mensaje__container, .condiciones__container{
        margin: 1rem 2rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 20px;
    }

    .mensaje__container label:first-child {
        margin-bottom: 1rem;
    }

    .mensaje__container label:nth-child(2) {
        flex-direction: column;
        position: relative;
        margin-bottom: 1rem;
        width: 100%;
    }

    .mensaje__container label:nth-child(2) > span {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 75px;
    }

    .mensaje__container label:nth-child(2) > textarea {
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    .mensaje__container label:first-child > select {
        width: 100%;
    }

    .dialog{
        width: 80%;
    }
}

@media screen and (max-width: 550px){

    /*----------ESTILOS FOOTER----------*/

    .footer__container{
        flex-direction: column;
        gap: 0.5rem;
    }

    /*----------ESTILOS MAIN----------*/

    .main{
        min-height: calc(100vh - 150px);
        /* justify-content: start; */
    }

    .single__list{
        flex-wrap: wrap;
        padding: 0 1rem;
    }

    .single__item {
        flex-basis: 30%;
        padding: 0 2rem 1rem 2rem;
    }

    /*----------ESTILOS BIOGRAFIA----------*/

    .main__bio {
        padding: 0;
    }

    /*----------ESTILOS TRABAJOS----------*/

    .spotify-container {
        padding: 2rem 0;
        width: 80%;
        margin: 0 auto 3rem auto;
    }

    .spotify-container > iframe {
        padding: 0;
        min-height: 400px;
    }

    .main__contact {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .condiciones__container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .dialog{
        width: 90%;
    }
}

@media screen and (max-width: 400px){

    /*----------ESTILOS MAIN----------*/

    .main{
        padding: 0;
    }

    /*----------ESTILOS INCIO----------*/

    .single__iframe{
        padding: 0 1rem;
    }

    /*----------ESTILOS CONTACTO----------*/

    .personal__container > label:nth-child(3) {
        align-self: self-start;
    }

    .personal__container, .mensaje__container, .condiciones__container{
        margin: 1rem 1rem;
        margin-top: 2rem;
        padding-left: 0;
    }
}