/*VARIABLES GENERALES*/

:root {
    --color-principal: #fff0b8;
    --color-secondary: #ffd6a3;
    --color-background: #fff0b83e;
    --color-text: #142f30;
}

/*ESTILOS GENERALES - INICIALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
    display: block;
}

p a {
    display: inline;
}

body {
    font-family: "Raleway";
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--color-background);
}

/*ESTILOS HEADER*/

.header {
    width: 100%;
    background-color: var(--color-principal);
    padding: 1.5rem 3rem 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo-img{
    width: 98px;
}

.header__nav{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav__pages {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.pages__link{
    color: var(--color-text);
    position: relative;
    transition: font-weight .3s ease-in-out, transform .3s ease-in-out;
}

.pages__link::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 0%;
    height: 1.2px;
    background-color: var(--color-text);
    transition: width .3s ease-in-out;
}

.pages__link:hover{
    font-weight: 600;
    transform: rotate(8deg);
}

.pages__link:hover::before {
    width: 100%;
}

.nav__social {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
}

.social__img {
    display: grid;
    margin: 0 auto;
    margin-right: 0;
    width: 30px;
    transition: transform .3s ease-in-out;
}

.social__link:hover .social__img{
    transform: scale(1.2) rotate(20deg);
}

.header__toggle {
    display: none;
}

/*ESTILOS MAIN*/

.main {
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    position: relative;
    z-index: 10;
}

.main__header{
    text-align: center;
    margin: 2.6rem 0;
}
.single__title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.single__subtitle{
    font-size: 2rem;
    text-wrap: balance;
}

.main__single{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2.7rem;
}

.single__video{
    flex-basis: 80%;
}

.single__iframe{
    aspect-ratio: 16/9;
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.single__list{
    padding: 2rem 0;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

}

.single__img {
    width: 100%;
}

/*ESTILOS FOOTER*/

.footer{
    position: absolute;
    top: 100;
    width: 100%;
    background-color: var(--color-principal);
    height: 8rem;
}

.footer__container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2.1rem;
    color: var(--color-text);
}

.footer__name{
    position: relative;
    display: block;
}

.footer__name::after{
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: var(--color-text);
    /* position: absolute;
    top: 40%;
    right: -12%; */
}

.footer__text{
    display: block;
}



