/*VARIABLES GENERALES*/

:root {
    --color-principal: #fff0b8;
    --color-secondary: #ffd6a3;
    --color-background: #FFFBED;
    --color-text: #142f30;
}

/*ESTILOS GENERALES - INICIALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
    display: block;
}

p a {
    display: inline;
}

body {
    font-family: "Raleway";
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--color-background);
    height: 100%;
    position: relative;
}

.visible{
    display: block;
}

.oculto{
    display: none;
}

/*ESTILOS HEADER*/

.header {
    width: 100%;
    background-color: var(--color-principal);
    padding: 1.5rem 3rem 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo-img{
    width: 98px;
}

.header__nav{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav__pages {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
}

.pages__link{
    color: var(--color-text);
    position: relative;
    transition: font-weight .3s ease-in-out, transform .3s ease-in-out;
}

.pages__link::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 0%;
    height: 1.1px;
    background-color: var(--color-text);
    transition: width .3s ease-in-out;
}

.pages__link:hover{
    /* font-weight: 600; */
    transform: translateY(-3px);
}

.pages__link--current{
    transform: translateY(-3px);
}

.pages__link--current.pages__link::before{
    width: 100%;
}

.pages__link:hover::before {
    width: 100%;
}

.nav__social {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
}

.social__img {
    display: grid;
    margin: 0 auto;
    margin-right: 0;
    width: 30px;
    transition: transform .3s ease-in-out;
}

.social__link:hover .social__img{
    transform: scale(1.2) rotate(20deg);
}

.header__toggle {
    display: none;
}

/*ESTILOS MAIN*/

.main {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
    margin-bottom: 2rem;
    /* padding: 3rem; */
    position: relative;
    z-index: 10;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.main__header{
    text-align: center;
    margin: 2.6rem 0;
}

.single__title{
    font-size: 3rem;
    margin-bottom: 1.8rem;
    animation-name: title;
    animation-duration: 1s;
}

@keyframes title {
    from {
        transform:translateY(-30px);
    }
    to{
        transform: translateY(0);
    }
}

.single__subtitle{
    font-size: 2rem;
    text-wrap: balance;
    animation-name: subtitle;
    animation-duration: 1s;
}

@keyframes subtitle {
    from {
        transform:translateY(30px);
    }
    to{
        ttransform:translateY(0);
    }
}

.main__single{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    /* margin-bottom: 2.9rem; */
    
}

.single__video{
    flex-basis: 80%;
    max-width: 1200px;
    padding: 0;
    animation-name: video;
    animation-duration: 1s;
}

@keyframes video {
    from {
        transform:translateX(-100px);
    }
    to{
        ttransform:translateX(0);
    }
}

.single__iframe{
    aspect-ratio: 16/9;
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.single__list{
    padding: 2rem 0;
    width: 100%;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single__item{
    animation-name: list;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes list {
    from {
        transform:translateX(100px) rotate(90deg);
        opacity: 0;
    }
    to{
        transform:translateX(0);
        opacity: 1;
    }
}

.single__item:nth-child(2){
    animation-delay: 0.2s;
}

.single__item:nth-child(3){
    animation-delay: 0.3s;
}

.single__item:nth-child(4){
    animation-delay: 0.4s;
}

.single__item:nth-child(5){
    animation-delay: 0.5s;
}

.single__item:nth-child(6){
    animation-delay: 0.6s;
}

.single__img {
    width: 100%;
    transition: transform .3s ease-in-out;
}

.single__img:hover{
    transform: scale(1.1) rotate(25deg);
}

/*ESTILOS BIOGRAFÃA*/

.main__bio{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0 auto;
    padding: 0 5rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.bio__foto-container{
    border-radius: 50%;
    overflow: hidden;
    animation-name: foto;
    animation-duration: 1s;
}

@keyframes foto {
    from {
        transform:translateX(-100px);
    }
    to{
        transform:translateX(0);
    }
}

.bio__foto{
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px;
    vertical-align:middle;
    transition: transform .3s ease-in-out;
}

.bio__foto:hover{
    transform: scale(1.1);
}

.bio__data{
    flex-basis: 60%;
    max-width: 700px;
    font-size: 2rem;
    animation-name: data;
    animation-duration: 1s;
}

.bio__data a{
    font-weight: 400;
    font-style: italic;
    color: blueviolet;
}

@keyframes data {
    from {
        transform:translateX(100px);
    }
    to{
        transform:translateX(0);
    }
}

.bio-more__subtitle{
    text-align: center;
    animation-name: subtitle;
    animation-duration: 1s;
}

.bio-more__social{
    margin-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.bio-more__link{
    animation-name: list;
    animation-duration: 1s;
}

.bio-more__img{
    transition: transform .3s ease-in-out;
}

.bio-more__link:hover .bio-more__img{
    transform: rotateZ(360deg);
}

/*ESTILOS TRABAJOS*/

.trabajos{
    width: 100%;
    margin: 0 auto;
}

.trabajos__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.trabajos__list li{
    padding: 1rem;
    background-color: var(--color-principal);
    min-width: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    animation-name: trabajosLi;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes trabajosLi {
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0px);
    }
    
}

.trabajos__list li:nth-child(2){
    animation-delay: .05s;
}

.trabajos__list li:nth-child(3){
    animation-delay: .10s;
}

.trabajos__list li:nth-child(4){
    animation-delay: .15s;
}

.trabajos__list li:hover{
    background-color: var(--color-secondary);
}

li figure {
    max-width: 200px;
}

figure h3, p{
    text-align: center;
}

figure h3{
    font-size: 1.6rem;
}

figure img{
    width: 200px;
}

#videclips{
    margin: 2rem auto;
    width: 90%;
    padding-bottom: 3rem;
}

#videclips h2{
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    animation-name: subtitle;
    animation-duration: 1s;
}

.videoGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
    justify-content: center;
    grid-auto-flow: rows;
    gap: 2rem;
}

.video{
    aspect-ratio: 16/9;
    width: 100%;
    animation-name: videos;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: both;
}

@keyframes videos {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.spotify-container{
    padding: 2rem 0;
    width: 80%;
    margin: 0 auto;
}

.spotify-container h2{
    text-align: center;
    margin: 2rem 0;
}

.spotify-container > iframe{
    padding: 0 5rem;
    min-height: 600px;
}

/*ESTILOS CONTACTO*/

.main__contact{
    width: 90%;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__form{
    background-color: var(--color-principal);
    border-radius: 20px;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact__personal,
.contact__mensaje,
.contact__condiciones{
    font-size: 2rem;
    border: 1px solid var(--color-text);
    border-radius: 40px;
}

legend{
    margin: 0 1rem 0 3rem;
    padding: 0 1rem;
    position: relative;
}

legend::before{
    content: "";
    position: absolute;
    top: 1rem;
    left: -5px;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: var(--color-text);
}

legend::after{
    content: "";
    position: absolute;
    top: 0.9rem;
    right: -5px;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: var(--color-text);
}

.personal__container{
    margin: 4rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items:start;
}

.personal__container label label{
    margin-left: 1rem;
}

label span{
    font-size: 2rem;
    font-weight: bold;
}

input, select, textarea{
    padding: 0.3rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    border: none;
    border: 1px solid var(--color-text);
    border-radius: 6px;
    background: var(--color-background);
    font-family: "Raleway";
    font-size: 1.5rem;
    color: var(--color-text);
}

input:focus, 
select:focus,
textarea:focus{
    outline: 1px solid var(--color-text);
}

.mensaje__container{
    margin: 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.mensaje__container label{
    margin-bottom: 1rem;
}

.mensaje__container label:first-child{
    margin-bottom: 3rem;
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 2rem;
}

.mensaje__container label:nth-child(2){
    display: flex;
}

.mensaje__container label:first-child > select{
    margin-left: 1.6rem;
    width: 30rem;
}

.mensaje__container label:nth-child(2) > textarea{
    padding: 1rem;
    margin-left: 2.3rem;
    width: 60%;
    height: 25rem;
    resize: none;
}

.condiciones__container{
    margin: 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

label a,
.condiciones__container p{
    display: inline;
    text-align: left;
}

label a{
    font-style: italic;
    cursor: pointer;
    position: relative;
}

label a::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
}

label p span{
    font-size: 2rem;
    font-weight: bold;
}

.btn-container{
    margin: 2rem;
    display: flex;
    justify-content:center;
    padding-bottom: 2rem;
}

input[type="submit"]{
    font-size: 2rem;
    font-weight: 500;
    width: 300px;
    padding: 2rem;
    border: none;
    color: var(--color-principal);
    background-color: var(--color-text);
    cursor: pointer;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, outline .3s ease-in-out;
}

input[type="submit"]:hover{
    outline: 1px solid var(--color-text);
    color: var(--color-text);
    background-color: var(--color-principal);
}







/*ESTILOS FOOTER*/

.footer{
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--color-principal);
    height: 8rem;
}

.footer__container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2.1rem;
    color: var(--color-text);
}

.footer__name{
    position: relative;
    display: block;
}

.footer__name::after{
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: var(--color-text);
    position: absolute;
    top: 40%;
    right: -12%;
}

.footer__text{
    display: block;
}



