/*VARIABLES GENERALES*/

:root {
    --color-principal: #fff0b8;
    --color-secondary: #ffd6a3;
    --color-background: #fff0b83e;
    --color-text: #142f30;
}

/*ESTILOS GENERALES - INICIALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
    display: block;
}

p a {
    display: inline;
}

body {
    font-family: "Raleway";
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--color-background);
}

/*ESTILOS HEADER*/

.header {
    width: 100%;
    background-color: var(--color-principal);
    padding: 1.5rem 3rem 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
}

.header__logo-img{
    width: 98px;
}

.header__nav{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav__pages {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.pages__link{
    color: var(--color-text);
    position: relative;
    transition: font-weight .3s ease-in-out, transform .3s ease-in-out;
}

.pages__link::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 0%;
    height: 1.2px;
    background-color: var(--color-background);
    transition: width .3s ease-in-out;
}

.pages__link:hover{
    font-weight: 600;
    transform: rotate(8deg);
}

.pages__link:hover::before {
    width: 100%;
}

.nav__social {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
}

.social__img {
    display: grid;
    margin: 0 auto;
    margin-right: 0;
    width: 30px;
    transition: transform .3s ease-in-out;
}

.social__link:hover .social__img{
    transform: scale(1.2) rotate(20deg);
}

.header__toggle {
    display: none;
}

/*ESTILOS MAIN*/

.main {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}

.main__header{
    text-align: center;
    margin-bottom: 3rem;
}

.main__title{
    margin-bottom: 1.5rem;
}

.main__subtitle{
    font-size: 2rem;
    text-wrap: balance;
}

.main__last-single{
    display: grid;
    grid-template-areas: 
    "video links article"
    "more more more";
    grid-template-columns: 4.5fr 1fr 4.5fr;
    grid-template-rows: fit-content auto auto;
    justify-items: center;
    
}

.last-single__video{
    grid-area: video;
}

.last-single__iframe{
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}

.last-single__list{
    grid-area: links;
}

.last-single__article{
    grid-area: article;
}

.last-single__more-videos{
    grid-area: more;
}

.last-single__img {
    width: 60px;

}